---
---

<header>
  <nav class="container">
    <ul class="nav-menu">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
    </ul>
  </nav>
</header>

<style>
.container {
  /* Add some padding to the main content */
  padding-left: 200px;
}

.nav-menu {
  /* Set the float property to left to position the navigation menu to the left */
  float: left;
  background: blueviolet;
  margin-right: 20px;
}
</style>